.lotofacil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .numbers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
  }

  .number {
    margin: 2px;
  }
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 300px;
  color: #ffffff;
}
.title-lotomania{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 550px;
  color: #ffffff;
}
.subTitle {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

.games-container {
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game {
  margin: 5px;
}

.numbers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.number {
  padding: 2px 3px;
  margin: 2px;
  background-color: #ffffff;
  color: #000000;
  border-radius: -100%;
  font-weight: bold;
}
