/* Estilo do elemento pai */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Estilo do componente Produtos */
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.products-container img {
  border-radius: 50%;
}


.product {
  width: 230px;
  height: 230px;
}

.product1 {
  background-size: cover;
  background-position: center;
}

.product2 {
  background-size: cover;
  background-position: center;
}

.product3 {
  background-size: cover;
  background-position: center;
}



.title{
  background-color: #000000;
}

.LogoProdutos {
  display: block;
  margin: 0 auto;
  margin-top: -290px;
  height: 180px;
  margin-bottom: -9px;

}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}



@media screen and (max-width: 768px) {
  .top-row,
  .bottom-row {
    flex-direction: column;
  }
  
  .product {
    margin-bottom: 10px;
  }
}
