.loteria-ouro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .loteria-ouro h2 {
    color: #ffffff;
    font-family: 'Baskerville', serif;
  }
  
  .numbers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .number {
    padding: 2px 3px;
    margin: 2px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .selected {
    background-color: #DAA520;
    color: #ffffff;
  }
  
  .picked-numbers {
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .value {
    color: #ffffff;
  }
  
  .bet-button {
    background-color: #DAA520;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .selected-numbers-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .selected-numbers-table th,
  .selected-numbers-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
    color: #000000;
  }
  
  .selected-numbers-table th {
    background-color: #DAA520;
  }
  
  .selected-numbers-table tr:nth-child(even) {
    background-color: #DAA520;
  }
  
  .selected-numbers-table tr:nth-child(odd) {
    background-color: #ffffff;
    color: #000000;
  }