.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-item {
  margin: 0 10px;
}

.menu-link {
  text-decoration: none;
  color: #DAA520;
  transition: text-decoration 0.3s ease;
}

.menu-link:hover {
  text-decoration: underline;
}

.botaoProdutos{
  height: 50px;
}
.botaoGrupos{
  height: 50px;
}
.botaoNotificacoes{
  height: 50px;
}