.notificacao {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #000000;
  color: #ff0000; /* Adicione uma cor de texto para que seja visível */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
